<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- user14410096 - tretton37-->
    <add key="VimeoAccounts" value="" />
    
    <!--UCdUth5xByWogqrnjKmTAlIw - Yoruba360, UC6soW1N4F9DgdCVhHoXy2pw - MovieMore, UC83tx3zGcvQ_rXzsZigTnEA - APATATV+, UCmLRPOm_1rvS0FC1k0pgWwA - ANKARATV, UC_LDb23YlsAbpuUdg7xqjDA - NewYoruba, UCAb8z0bY19q-K_8-kY3S8nw- LOTR-FILMs -->
    <!--Nollywood5ive,TVNolly,realnollymovies,nollystar1,NollywoodPicturestv,NollywoodLove,mynaijalove,Movieandclipstv,Ikorotv,nollywoodbest-->
    <add key="YoutubeAccounts" value="Nollywood5ive,Yorubahood,TVNolly,geledetvhits,realnollymovies,OlekuTV,nollystar1,NewNollywood,NollywoodPicturestv,yorubamagic,NollywoodLove,Yorubac,mynaijalove,Yoruba5star,Movieandclipstv,UCAb8z0bY19q-K_8-kY3S8nw,Ikorotv,UC_LDb23YlsAbpuUdg7xqjDA,nollywoodbest,UCmLRPOm_1rvS0FC1k0pgWwA,UCdUth5xByWogqrnjKmTAlIw,UC6soW1N4F9DgdCVhHoXy2pw,UC83tx3zGcvQ_rXzsZigTnEA" />
    <!--<add key="YoutubeAccounts" value="Nollywood5ive" />-->

    <add key="DevStuffDbName" value="devstuff" />
    <add key="AMChannelsDbName" value="amchannels" />
  </appSettings>

  <connectionStrings>
    <!--<add name="DevStuff" connectionString="mongodb://127.0.0.1:27017/" />-->
    <!--<add name="AMChannels" connectionString="mongodb://127.0.0.1:27017/" />-->
    <add name="AMChannels" connectionString="mongodb://amdb.cloudapp.net" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>