@{
    ViewBag.Title = "DevMovies - O projekcie";
}

<section class="row">
    <div class="col-sm-8">
        <h3 class="text-info">About Us</h3>
        <p>
            The websites Vimeo and YouTube are videos from the conference thematically related to .NET and the wider IT such as:
            <ul>
                <li><a href="http://devday.pl/" title="DevDay">DevDay</a>,</li>
                <li><a href="http://www.ndcoslo.com/" title="NDC Conferences">NDC</a>,</li>
                <li><a href="http://leetspeak.se/2014/" title="Leetspeak">1337speak</a>,</li>
                <li><a href="http://www.dotnetconf.net/" title="dotnetConf - The .NET Community Virtual Conference">dotNetConf</a>,</li>
                <li><a href="http://dotnetconf.pl/" title="dotNetConfPL">dotNetConfPL</a>.</li>
            </ul>
        </p>
        <p>
            Various conferences scattered across different channels and different services . From perspective <a href="#" title="Realizacja: Tymoteusz Kęstowicz">osoby</a>, who willingly watches outstanding of jumping after so many places it was quite annoying .
            Hence the idea for the project, which undergoes aggregation information of the selected channels and allow the friendly filtering and viewing materials. In addition, the prompt <a href="http://blog.gutek.pl/o-mnie/" title="Jakub Gutkowski"> Gutek </a> to look at the library <a href="http://reactjs.net/" title="ReactJS.NET"> ReactJS.NET </a>
            decision was made and a couple of evenings managed to achieve the minimum objectives of the project
        </p>
        <p>
            At the moment the application is based on static data downloaded from websites Vimeo and YouTube in the course of implementation. All information, ie .: the channels , films, metadata on movies indicate the status of <strong>09.11.2014 r.</strong>.
        </p>
        <p>
            If you found a mistake , shortcoming , you think something is missing or want to add something , let me know at <a href="#">twitterze</a> lub <a href="mailto:#">wyślij maila</a> – we'll see what we can do <span style="font-size: 24px;">☺</span>.
        </p>
    </div>
    <div class="col-sm-4 text-center">
        <a class="twitter-timeline" href="#" data-widget-id="531773697325948928" data-lang="pl">Tweety na temat @@devmoviespl</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</section>
